Repository kni-labs/kni-scss: changes, and which lint-staged commands are due for each by the changed paths.
All: npx stylelint --fix, npx prettier --write

lint
  scss/01-config/02-functions/_index.scss
Due: npx stylelint --fix, npx prettier --write

now we can write custom test code
  package.json
  test/test.css
  test/test.css.map
  test/test.scss
  test/testfile.html
Due: npx stylelint --fix, npx prettier --write

remove auto-generated files
  test/test.css
  test/test.css.map
Due: npx stylelint --fix, npx prettier --write

ignore auto-generated files
  .gitignore
Due: none

upgrade husky
  package-lock.json
  package.json
Due: npx prettier --write

upgrade dependencies, don't ignore test.scss
  .stylelintrc
  package-lock.json
  package.json
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

readme additions
  README.md
  readme.md
Due: npx prettier --write

add variables
  scss/01-config/01-variables/_02-type.scss
  scss/01-config/01-variables/_03-colors.scss
  scss/01-config/01-variables/_04-fonts.scss
  scss/01-config/01-variables/_05-other.scss
  scss/01-config/01-variables/_index.scss
Due: npx stylelint --fix, npx prettier --write

love that stylelint
  scss/01-config/03-mixins/_01-type.scss
  scss/02-base/04-type/_index.scss
Due: npx stylelint --fix, npx prettier --write

updated stylelint custom property regex
  .stylelintrc
Due: none

lint
  .stylelintrc
  scss/01-config/01-variables/_02-type.scss
  scss/01-config/03-mixins/_01-type.scss
  scss/02-base/02-normalize/_index.scss
  scss/02-base/04-type/_index.scss
  test/test.scss
  test/testfile.html
Due: npx stylelint --fix, npx prettier --write

that deserves a ver bump if ever i have in life
  package.json
Due: npx prettier --write

Update readme.md
  readme.md
Due: npx prettier --write

read me v1
  readme.md
Due: npx prettier --write

stylelint and prettier
  readme.md
  scss/02-base/01-imports/02-fonts/inter/_index.scss
  test/testfile.html
Due: npx stylelint --fix, npx prettier --write

stylelint validate
  .vscode/settings.json
Due: npx prettier --write

sass production script
  package.json
Due: npx prettier --write

deploy script
  package.json
Due: npx prettier --write

rename testfile
  test/index.html
Due: none

prettier ignore auto generated file
  .prettierignore
Due: none

viewport meta tag
  test/index.html
Due: none

remove unused code
  test/index.html
Due: none

use sass variables where possible
  package-lock.json
  readme.md
  scss/01-config/01-variables/_01-breakpoints.scss
  scss/01-config/01-variables/_02-type.scss
  scss/01-config/03-mixins/_01-type.scss
  scss/02-base/04-type/_index.scss
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

to show cooper the 768 issue
  scss/01-config/01-variables/_01-breakpoints.scss
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

okay i just ripped my own heart out but this will work and be better
  scss/01-config/03-mixins/_01-type.scss
  scss/02-base/04-type/_index.scss
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

fix vw example
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

some comfortable vars
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

variable cleanup
  scss/01-config/01-variables/_01-breakpoints.scss
  scss/01-config/01-variables/_02-colors.scss
  scss/01-config/01-variables/_03-fonts.scss
  scss/01-config/01-variables/_04-other.scss
  scss/01-config/01-variables/_index.scss
Due: npx stylelint --fix, npx prettier --write

cleanup
  scss/01-config/01-variables/_02-type.scss
Due: npx stylelint --fix, npx prettier --write

RIP old fluidType, long live setType()
  scss/01-config/03-mixins/_01-type.scss
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

set minimum clamp option
  scss/01-config/03-mixins/_01-type.scss
  scss/02-base/04-type/_index.scss
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

test updates
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

little more explanation:
  test/index.html
Due: none

readme update
  readme.md
Due: npx prettier --write

this is problmeatic
  scss/02-base/04-type/_index.scss
Due: npx stylelint --fix, npx prettier --write

Path conditions:
  npx stylelint --fix: any of: *.{css,scss,sass}
  npx prettier --write: any of: *.{js,mjs,jsx,ts,tsx,json,md,mdx,css,scss,sass}
