Repository kni-labs/kni-scss: changes, and which lint-staged commands are due for each by the changed paths.
All: npx stylelint --fix, npx prettier --write

.lintstagedrc:

{
  "*.{css,scss,sass}": "npx stylelint --fix",
  "*.{js,mjs,jsx,ts,tsx,json,md,mdx,css,scss,sass}": "npx prettier --write"
}

added pre-merge checklist
  pull_request_template.md
Due: npx prettier --write

updated checklist
  pull_request_template.md
Due: npx prettier --write

paragraph scale
  package-lock.json
  package.json
  scss/01-config/03-mixins/_01-type.scss
  scss/02-base/04-type/_index.scss
  test/index.html
Due: npx stylelint --fix, npx prettier --write

xxs
  scss/01-config/03-mixins/_01-type.scss
  scss/02-base/04-type/_index.scss
Due: npx stylelint --fix, npx prettier --write

xxl option
  scss/01-config/03-mixins/_01-type.scss
  scss/02-base/04-type/_index.scss
Due: npx stylelint --fix, npx prettier --write

clamp fix comment
  scss/01-config/03-mixins/_01-type.scss
Due: npx stylelint --fix, npx prettier --write

yellow boxes WIP
  scss/01-config/03-mixins/_01-type.scss
Due: npx stylelint --fix, npx prettier --write

desktop is working
  scss/01-config/03-mixins/_01-type.scss
Due: npx stylelint --fix, npx prettier --write

mobile fix
  scss/01-config/03-mixins/_01-type.scss
Due: npx stylelint --fix, npx prettier --write

less confusing vars
  scss/01-config/03-mixins/_01-type.scss
Due: npx stylelint --fix, npx prettier --write

revert
  scss/01-config/03-mixins/_01-type.scss
Due: npx stylelint --fix, npx prettier --write

version bump
  package-lock.json
  package.json
Due: npx prettier --write

innerWidth dev tool
  test/index.html
Due: none

tidy
  test/index.html
Due: none

made a cool debugging tool
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

add tl
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

comments on each specific breakpoint, tweak to prevent breakpoint overrides
  scss/01-config/03-mixins/_01-type.scss
Due: npx stylelint --fix, npx prettier --write

reorder breakpoints, change scaling start from desktop basis to min
  scss/01-config/03-mixins/_01-type.scss
Due: npx stylelint --fix, npx prettier --write

desktop large
  scss/01-config/01-variables/_01-breakpoints.scss
Due: npx stylelint --fix, npx prettier --write

prettier
  .stylelintrc
  test/index.html
Due: none

add dl to testing page
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

increment version
  package-lock.json
  package.json
Due: npx prettier --write

specify font type in default variable
  package-lock.json
  package.json
  scss/01-config/01-variables/_03-fonts.scss
Due: npx stylelint --fix, npx prettier --write

gulp compiler, eslint, build and watch scripts
  .eslintrc
  .lintstagedrc
  gulpfile.js
  package-lock.json
  package.json
  readme.md
Due: npx prettier --write

vw clamp example
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

vw() max clamp
  scss/01-config/02-functions/_index.scss
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

update example code
  test/index.html
Due: none

fix function
  scss/01-config/02-functions/_index.scss
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

Update index.html
  test/index.html
Due: none

add an absurd stress test
  test/stress-test.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

add a simple jump link.. more in another PR
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

more examples.. and some quesetions
  scss/01-config/02-functions/_index.scss
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

vw explanation
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

add mobile argument for vw
  scss/01-config/02-functions/_index.scss
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

update test page
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

vw conditional and error handling
  scss/01-config/02-functions/_index.scss
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

prettier
  test/index.html
  test/stress-test.html
Due: none

version
  package-lock.json
  package.json
Due: npx prettier --write

Update readme.md
  readme.md
Due: npx prettier --write

test page update var
  test/index.html
Due: none
