Repository kni-labs/kni-scss: changes, and which lint-staged commands are due for each by the changed paths.
All: npx stylelint --fix, npx eslint --max-warnings=0 --fix, npx prettier --write

.lintstagedrc:

{
  "*.{css,scss,sass}": "npx stylelint --fix",
  "*.{js,mjs,jsx,ts,tsx,mdx}": "npx eslint --max-warnings=0 --fix",
  "*.{js,mjs,jsx,ts,tsx,json,md,mdx,css,scss,sass}": "npx prettier --write"
}

lint rule
  .eslintrc
Due: none

update stylelint config
  .stylelintrc
  gulpfile.js
  package-lock.json
  package.json
Due: npx eslint --max-warnings=0 --fix, npx prettier --write

remove unused code
  scss/01-config/02-functions/_index.scss
Due: npx stylelint --fix, npx prettier --write

rename files
  scss/01-config/03-mixins/_01-colors.scss
  scss/01-config/03-mixins/_01-type.scss
  scss/01-config/03-mixins/_02-content.scss
  scss/01-config/03-mixins/_index.scss
Due: npx stylelint --fix, npx prettier --write

remove unused code
  scss/02-base/06-print/_index.scss
  scss/02-base/_index.scss
Due: npx stylelint --fix, npx prettier --write

gulp workflow for pxv, http server for test
  gulpfile.js
  package-lock.json
  package.json
Due: npx eslint --max-warnings=0 --fix, npx prettier --write

remove unused code
  test/index.html
Due: none

remove unused code
  scss/01-config/01-variables/_01-breakpoints.scss
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

organization
  scss/01-config/01-variables/_01-breakpoints.scss
  scss/01-config/03-mixins/_01-breakpoints.scss
  scss/01-config/03-mixins/_02-colors.scss
  scss/01-config/03-mixins/_03-content.scss
  scss/01-config/03-mixins/_index.scss
  scss/02-base/02-normalize/_index.scss
Due: npx stylelint --fix, npx prettier --write

spacing values and placeholder
  readme.md
  scss/01-config/01-variables/_04-spacing.scss
  scss/01-config/01-variables/_05-other.scss
  scss/01-config/01-variables/_index.scss
  scss/02-base/05-utilities/02-spacing/_index.scss
  scss/02-base/05-utilities/_index.scss
Due: npx stylelint --fix, npx prettier --write

remove default list styles
  scss/02-base/02-normalize/_index.scss
Due: npx stylelint --fix, npx prettier --write

3.0.1
  package-lock.json
  package.json
Due: npx prettier --write

mixins
  scss/01-config/03-mixins/_04-typography.scss
  scss/01-config/03-mixins/_index.scss
Due: npx stylelint --fix, npx prettier --write

3.1.0
  package-lock.json
  package.json
Due: npx prettier --write

update test and documentation with fontSize and pxv examples
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

3.0.2
  package-lock.json
  package.json
Due: npx prettier --write

add input to element list
  scss/02-base/04-type/_index.scss
Due: npx stylelint --fix, npx prettier --write

3.0.3
  package-lock.json
  package.json
Due: npx prettier --write

update node version for vercel deprecation
  .vscode/settings.json
  package-lock.json
  package.json
Due: npx prettier --write

3.0.4
  package-lock.json
  package.json
Due: npx prettier --write

4.0.0
  package-lock.json
  package.json
Due: npx prettier --write

version compatibility
  package-lock.json
  package.json
Due: npx prettier --write

Revert "4.0.0"
  package-lock.json
  package.json
Due: npx prettier --write

increment npm version
  package.json
Due: npx prettier --write

3.0.5
  package-lock.json
  package.json
Due: npx prettier --write

increment engine
  package-lock.json
Due: npx prettier --write

Variable font fix
  scss/02-base/04-type/_index.scss
Due: npx stylelint --fix, npx prettier --write

Update package.json
  package.json
Due: npx prettier --write

Update package-lock.json
  package-lock.json
Due: npx prettier --write

time tag support in fluid typography
  scss/02-base/04-type/_index.scss
Due: npx stylelint --fix, npx prettier --write

Update _index.scss
  scss/02-base/02-normalize/_index.scss
Due: npx stylelint --fix, npx prettier --write

update for 2025
  scss/01-config/01-variables/_03-fonts.scss
  scss/01-config/01-variables/_04-other.scss
  scss/01-config/01-variables/_04-spacing.scss
  scss/01-config/01-variables/_index.scss
Due: npx stylelint --fix, npx prettier --write

v update
  package.json
Due: npx prettier --write

v update
  package-lock.json
Due: npx prettier --write

update v num
  package-lock.json
  package.json
Due: npx prettier --write

Ls/2025 (#43)
  package-lock.json
  package.json
  scss/01-config/01-variables/_03-fonts.scss
  scss/01-config/01-variables/_04-other.scss
  scss/01-config/01-variables/_04-spacing.scss
  scss/01-config/01-variables/_index.scss
Due: npx stylelint --fix, npx prettier --write

ditch baked-in transitions
  scss/01-config/01-variables/_04-other.scss
  scss/02-base/02-normalize/_index.scss
Due: npx stylelint --fix, npx prettier --write

6.0.0
  package-lock.json
  package.json
Due: npx prettier --write
