Repository kni-labs/kni-scss: changes, and which lint-staged commands are due for each by the changed paths.
All: npx stylelint --fix, npx eslint --max-warnings=0 --fix, npx prettier --write

prettier
  readme.md
Due: npx prettier --write

negative margin fix
  scss/01-config/02-functions/_index.scss
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

version up
  package-lock.json
  package.json
Due: npx prettier --write

fix mobile clamp
  scss/01-config/03-mixins/_01-type.scss
Due: npx stylelint --fix, npx prettier --write

oh evidently the order of things is also important
  scss/01-config/03-mixins/_01-type.scss
Due: npx stylelint --fix, npx prettier --write

remove border
  scss/01-config/03-mixins/_01-type.scss
Due: npx stylelint --fix, npx prettier --write

1.3.1-alpha.0
  package-lock.json
  package.json
Due: npx prettier --write

fix mq for devices below 320px (none) and some comment cleanup
  scss/01-config/03-mixins/_01-type.scss
Due: npx stylelint --fix, npx prettier --write

version up"
  package-lock.json
  package.json
Due: npx prettier --write

remove whitespace, fix typo
  scss/01-config/03-mixins/_01-type.scss
Due: npx stylelint --fix, npx prettier --write

version
  package-lock.json
Due: npx prettier --write

siteMax--desktop — default $dl
  scss/01-config/01-variables/_01-breakpoints.scss
Due: npx stylelint --fix, npx prettier --write

increment version
  package-lock.json
  package.json
Due: npx prettier --write

Rename _04-other.scss to _05-other.scss
  scss/01-config/01-variables/_05-other.scss
Due: npx stylelint --fix, npx prettier --write

Create _04_spacing.scss
  scss/01-config/01-variables/_04_spacing.scss
Due: npx stylelint --fix, npx prettier --write

Update _04_spacing.scss
  scss/01-config/01-variables/_04_spacing.scss
Due: npx stylelint --fix, npx prettier --write

Update _index.scss
  scss/01-config/01-variables/_index.scss
Due: npx stylelint --fix, npx prettier --write

Update readme.md
  readme.md
Due: npx prettier --write

Rename _04_spacing.scss to _04-spacing.scss
  scss/01-config/01-variables/_04-spacing.scss
Due: npx stylelint --fix, npx prettier --write

version up
  package.json
Due: npx prettier --write

node 18, expand node compatibility
  .nvmrc
  package-lock.json
  package.json
  readme.md
Due: npx prettier --write

Update _04-spacing.scss
  scss/01-config/01-variables/_04-spacing.scss
Due: npx stylelint --fix, npx prettier --write

delete a bunch of stuff and add new breakpoints
  package-lock.json
  scss/01-config/01-variables/_01-breakpoints.scss
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

:danielrage: linting
  .eslintrc
  readme.md
  scss/01-config/01-variables/_01-breakpoints.scss
  scss/01-config/02-functions/_index.scss
  scss/01-config/03-mixins/_01-type.scss
  scss/02-base/04-type/_index.scss
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

2.0 stuff
  kni-scss-2.0.0-alpha.tgz
  package.json
Due: npx prettier --write

test writeup updates
  test/index.html
Due: none

tablet test start
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

tablet is fixed for example
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

font max clamp
  package.json
  scss/02-base/04-type/_index.scss
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

remove those print styles
  package.json
  scss/02-base/06-print/_index.scss
Due: npx stylelint --fix, npx prettier --write

remove unused file
  kni-scss-2.0.0-alpha.tgz
Due: none

3.0.0
  package-lock.json
  package.json
Due: npx prettier --write

readme updates
  readme.md
Due: npx prettier --write

Path conditions:
  npx stylelint --fix: any of: *.{css,scss,sass}
  npx eslint --max-warnings=0 --fix: any of: *.{js,mjs,jsx,ts,tsx,mdx}
  npx prettier --write: any of: *.{js,mjs,jsx,ts,tsx,json,md,mdx,css,scss,sass}
