Repository kni-labs/kni-scss: changes, and which lint-staged commands are due for each by the changed paths.
All: npx stylelint --fix, npx eslint --max-warnings=0 --fix, npx prettier --write

.lintstagedrc:

{
  "*.{css,scss,sass}": "npx stylelint --fix",
  "*.{js,mjs,jsx,ts,tsx,mdx}": "npx eslint --max-warnings=0 --fix",
  "*.{js,mjs,jsx,ts,tsx,json,md,mdx,css,scss,sass}": "npx prettier --write"
}

Update _index.scss (#47)
  package-lock.json
  package.json
  scss/01-config/01-variables/_04-other.scss
  scss/02-base/02-normalize/_index.scss
Due: npx stylelint --fix, npx prettier --write

add fluid type class
  scss/02-base/04-type/_index.scss
Due: npx stylelint --fix, npx prettier --write

7.0.0
  package-lock.json
  package.json
Due: npx prettier --write

add fluid type class (#50)
  package-lock.json
  package.json
  scss/02-base/04-type/_index.scss
Due: npx stylelint --fix, npx prettier --write

Add WARP.md with project guidance and architecture documentation
  WARP.md
Due: npx prettier --write

random file begone
  scss/config.codekit3
Due: none

css chain is working
  scss/engine/index.scss
  scss/global.scss
  scss/site/02-base/_index.scss
  scss/site/02-base/utilities/_index.scss
  scss/site/03-components/_index.scss
  scss/site/_styles.scss
  test/styles.scss
Due: npx stylelint --fix, npx prettier --write

fix lint
  scss/global.scss
  test/styles.scss
Due: npx stylelint --fix, npx prettier --write

structure stuff
  scss/engine/core/_mixins.scss
  scss/site/01-config/_breakpoints.scss
  scss/site/01-config/_index.scss
  scss/site/01-config/_primitives.scss
  scss/site/01-config/_settings.scss
  scss/site/02-base/_typography.scss
  scss/site/04-modules/_footer.scss
  test/index.html
  test/styles.scss
Due: npx stylelint --fix, npx prettier --write

training wheels off
  gulpfile.js
  package-lock.json
  package.json
  scss/engine/core/_functions.scss
  scss/engine/core/_mixins.scss
  scss/engine/core/_reset.scss
  scss/site/01-config/_breakpoints.scss
  scss/site/01-config/_primitives.scss
  scss/site/02-base/layout/_container.scss
  test/styles.scss
Due: npx stylelint --fix, npx eslint --max-warnings=0 --fix, npx prettier --write

fix lint.. temporarily
  .eslintrc
  scss/site/01-config/_primitives.scss
  scss/site/02-base/_typography.scss
  test/styles.scss
Due: npx stylelint --fix, npx prettier --write

doubled file
  .eslintrc
  package-lock.json
  package.json
  scss/site/01-config/_breakpoints.scss
  scss/site/02-base/layout/_container.scss
  test/styles.scss
Due: npx stylelint --fix, npx prettier --write

so much linting
  .lintstagedrc
  .stylelintrc
  gulpfile.js
  scss/site/02-base/layout/_container.scss
Due: npx stylelint --fix, npx eslint --max-warnings=0 --fix, npx prettier --write

typography start
  scss/engine/core/_reset.scss
  scss/site/01-config/_primitives.scss
  scss/site/02-base/_typography.scss
  test/styles.scss
Due: npx stylelint --fix, npx prettier --write

lint
  .stylelintrc
  scss/config.codekit3
  scss/engine/core/_mixins.scss
  scss/site/01-config/_breakpoints.scss
  scss/site/01-config/_settings.scss
  scss/site/02-base/_colors.scss
  scss/site/02-base/_fonts.scss
  scss/site/02-base/_functions.scss
  scss/site/02-base/_mixins.scss
  scss/site/02-base/_typography.scss
  scss/site/02-base/layout/_container.scss
  scss/site/02-base/layout/_index.scss
  scss/site/02-base/layout/_layout-base.scss
  scss/site/_styles.scss
Due: npx stylelint --fix, npx prettier --write

move things
  scss/site/01-config/_primitives.scss
  scss/site/02-base/_typography.scss
Due: npx stylelint --fix, npx prettier --write

type stuff
  scss/site/01-config/_breakpoints.scss
  scss/site/01-config/_primitives.scss
  scss/site/01-config/_settings.scss
  scss/site/02-base/_typography.scss
  scss/site/02-base/layout/_layout-base.scss
Due: npx stylelint --fix, npx prettier --write

Update readme.md
  readme.md
Due: npx prettier --write

example cleanup
  gulpfile.js
  scss/engine/core/_reset.scss
  scss/site/01-config/_primitives.scss
  scss/site/01-config/_settings.scss
  scss/site/02-base/_functions.scss
  scss/site/02-base/_mixins.scss
  scss/site/02-base/_typography.scss
  scss/site/02-base/layout/_layout-base.scss
  test/index.html
  test/styles.scss
Due: npx stylelint --fix, npx eslint --max-warnings=0 --fix, npx prettier --write

linting
  scss/engine/core/_mixins.scss
  scss/engine/utilities/_dev.scss
  scss/engine/utilities/_display.scss
  scss/engine/utilities/_flex.scss
  scss/site/01-config/_settings.scss
Due: npx stylelint --fix, npx prettier --write

fix typography
  scss/engine/_index.scss
  scss/engine/core/_mixins.scss
  scss/engine/utilities/_display.scss
  scss/engine/utilities/_flex.scss
  scss/engine/utilities/_spacing.scss
  scss/site/01-config/_settings.scss
  scss/site/02-base/_typography.scss
  scss/site/_index.scss
  test/styles.scss
Due: npx stylelint --fix, npx prettier --write

fixing chain.. at least for now
  scss/site/02-base/_functions.scss
  scss/site/02-base/_index.scss
  scss/site/02-base/_mixins.scss
  scss/site/02-base/_typography.scss
  test/styles.scss
Due: npx stylelint --fix, npx prettier --write

moving settings, at least for now
  scss/engine/core/_reset.scss
  scss/site/01-config/_breakpoints.scss
  scss/site/01-config/_primitives.scss
  scss/site/01-config/_settings.scss
  scss/site/02-base/_functions.scss
  scss/site/02-base/_mixins.scss
  scss/site/02-base/_typography.scss
  scss/site/_index.scss
  test/styles.scss
Due: npx stylelint --fix, npx prettier --write
