Repository kni-labs/kni-scss: changes, and which lint-staged commands are due for each by the changed paths.
All: npx stylelint --fix, npx prettier --write

fix index
  test/index.html
Due: none

test fix'
  test/index.html
Due: none

version bump
  package.json
Due: npx prettier --write

better line heights
  package-lock.json
  scss/02-base/04-type/_index.scss
Due: npx stylelint --fix, npx prettier --write

test file"
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

only one mixin now
  readme.md
  scss/01-config/03-mixins/_01-type.scss
  scss/02-base/04-type/_index.scss
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

typo
  readme.md
  test/index.html
Due: npx prettier --write

readme updates
  package-lock.json
  readme.md
Due: npx prettier --write

prettier
  test/index.html
Due: none

remove unused code
  scss/01-config/03-mixins/_01-type.scss
Due: npx stylelint --fix, npx prettier --write

optional breakpoints in fluidType to cut down on generated code
  scss/01-config/03-mixins/_01-type.scss
Due: npx stylelint --fix, npx prettier --write

prettier
  scss/02-base/04-type/_index.scss
Due: npx stylelint --fix, npx prettier --write

add paragraph class
  scss/02-base/04-type/_index.scss
Due: npx stylelint --fix, npx prettier --write

couple doc edits
  readme.md
Due: npx prettier --write

Update readme.md
  readme.md
Due: npx prettier --write

setType only generates necessary breakpoints
  scss/01-config/03-mixins/_01-type.scss
Due: npx stylelint --fix, npx prettier --write

more clear examples
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

.p--smallest
  package-lock.json
  scss/02-base/04-type/_index.scss
  test/index.html
  test/test.scss
Due: npx stylelint --fix, npx prettier --write

update vars
  scss/01-config/03-mixins/_01-type.scss
Due: npx stylelint --fix, npx prettier --write

version up
  package.json
Due: npx prettier --write

version
  package-lock.json
Due: npx prettier --write

update sass version
  package-lock.json
  package.json
Due: npx prettier --write

type mixins @use 'sass:math'
  scss/01-config/03-mixins/_01-type.scss
Due: npx stylelint --fix, npx prettier --write

increment version for bux fix
  package-lock.json
  package.json
Due: npx prettier --write

v1.0.0
  package-lock.json
  package.json
Due: npx prettier --write

stylelint sass default annotation
  .stylelintrc
  package-lock.json
  scss/01-config/01-variables/_01-breakpoints.scss
  scss/01-config/01-variables/_02-colors.scss
  scss/01-config/01-variables/_03-fonts.scss
  scss/01-config/01-variables/_04-other.scss
  scss/01-config/01-variables/_index.scss
  scss/02-base/01-imports/02-fonts/_index.scss
  scss/02-base/01-imports/02-fonts/inter/_index.scss
Due: npx stylelint --fix, npx prettier --write

camelCase vars
  scss/01-config/01-variables/_04-other.scss
  scss/02-base/02-normalize/_index.scss
Due: npx stylelint --fix, npx prettier --write

v1.0.1
  package-lock.json
  package.json
Due: npx prettier --write

remove unused variables
  scss/01-config/01-variables/_03-fonts.scss
Due: npx stylelint --fix, npx prettier --write

typo fix
  readme.md
Due: npx prettier --write

v1.0.2
  package-lock.json
  package.json
Due: npx prettier --write

switch default styles to mixins for overwrite capability
  scss/01-config/03-mixins/_01-type.scss
  scss/02-base/02-normalize/_index.scss
  scss/02-base/04-type/_index.scss
Due: npx stylelint --fix, npx prettier --write

version
  package-lock.json
  package.json
Due: npx prettier --write

Path conditions:
  npx stylelint --fix: any of: *.{css,scss,sass}
  npx prettier --write: any of: *.{js,mjs,jsx,ts,tsx,json,md,mdx,css,scss,sass}
